h2 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h3, h4 {
  color: #eee;
}

h3 {
  color: #841F28;
  font-size: 1.5rem;
  text-shadow: none;
}

h4 {
  font-size: 1.2rem;
}

p { 
  color: #fff;
}

.houseCard {
  width: calc(30% - 30px);
  background: #222;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
